{% extends 'base.html' %}


{% block title %}
    Lista empleados por departamento
{% endblock title %}


{% block content %}
      {% include "includes/header.html" %}
      <div class="grid-container">
        <div class="grid-x">
            <div class="cell">Empleados por area:</div>
            <div class="cell">
                <table>
                    <thead>
                        <tr>
                            <th width="150">ID</th>
                            <th width="150">NOMBRES</th>
                            <th width="150">APELLIDOS</th>
                            <th width="150">DEPARTAMENTO</th>
                            <th width="150">ACCION</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for empleado in empleados %}
                        <tr>
                            <td>{{ empleado.id }}</td>
                            <td>{{ empleado.firts_name }}</td>
                            <td>{{ empleado.last_name }}</td>
                            <td>{{ empleado.departamento }}</td>
                            <td><a class="button warning" href="{% url 'persona_app:empleado_detail' empleado.id %}">Ver</a></td>
                        </tr>
                         {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
      </div>
{% endblock content %}

<h1>Lista de todos de los empleados</h1>

<ul>
    {% for e in object_list %}
        <li>
            {{ e }}
        </li>
    {% endfor %}
</ul>